<?xml version="1.0"?>
<!--
/*
 * @category     Techinflo
 * @package     Techinflo LookBook
 * @author      <Techinflo Team>
 */
-->
<config>
    <modules>
        <Techinflo_Productlookbook>
            <version>1.0.3</version>
        </Techinflo_Productlookbook>
    </modules>
    <frontend>
        <routers>
            <productlookbook>
                <use>standard</use>
                <args>
                    <module>Techinflo_Productlookbook</module>
                    <frontName>productlookbook</frontName>
                </args>
            </productlookbook>
        </routers>
        <layout>
            <updates>
                <productlookbook>
                    <file>productlookbook.xml</file>
                </productlookbook>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productlookbook>
				<use>admin</use>
				<args>
					<module>Techinflo_Productlookbook</module>
					<frontName>productlookbook</frontName>
				</args>
			</productlookbook>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <productlookbook translate="title" module="productlookbook">
                        <title>Product Look Book</title>
		        <action>productlookbook/adminhtml_productlookbook</action>
                    </productlookbook>
                 </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <productlookbook>
                                    <title>Product Look Book</title> 
                                </productlookbook>
                            </children>
                        </cms>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productlookbook>
                                            <title>Product Look Book</title>
                                        </productlookbook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	<layout>
		<updates>
			<productlookbook>
				<file>productlookbook.xml</file>
			</productlookbook>
		</updates>
	</layout>
    </adminhtml>
    <default>
        <productlookbook>
            <general>
                <enabled>1</enabled>
                <min_image_width>300</min_image_width>
                <min_image_height>400</min_image_height>
                <max_image_width>450</max_image_width>
                <max_image_height>600</max_image_height>
                <max_upload_filesize>2097152</max_upload_filesize>
                <allowed_extensions>jpg,jpeg,png,gif</allowed_extensions>      
            </general>
        </productlookbook>
    </default>    
    <global>
        <models>
            <productlookbook>
                <class>Techinflo_Productlookbook_Model</class>
                <resourceModel>productlookbook_mysql4</resourceModel>
            </productlookbook>
            <productlookbook_mysql4>
                <class>Techinflo_Productlookbook_Model_Mysql4</class>
                <entities>
                    <productlookbook>
                        <table>productlookbook</table>
                    </productlookbook>
                </entities>
            </productlookbook_mysql4>
        </models>
        <resources>
            <productlookbook_setup>
                <setup>
                    <module>Techinflo_Productlookbook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productlookbook_setup>
            <productlookbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productlookbook_write>
            <productlookbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productlookbook_read>
        </resources>
        <blocks>
            <productlookbook>
                <class>Techinflo_Productlookbook_Block</class>
            </productlookbook>
        </blocks>
        <helpers>
            <productlookbook>
                <class>Techinflo_Productlookbook_Helper</class>
            </productlookbook>
        </helpers>
        <events>
			<cms_page_render>
				<observers>
					<productlookbook_layout_generate_observer>
						<type>singleton</type>
						<class>productlookbook/layout_generate_observer</class>
						<method>addHeadItems</method>
					</productlookbook_layout_generate_observer>
				</observers>
			</cms_page_render>
	</events>
    </global>
</config>